<div class="card">
    <div class="card-header">
        <h4>Environment</h4>
    </div>
    <div class="card-body">
        <table class="table table-bordered" *ngIf="listEnv">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Database</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let env of listEnv">
                    <th> {{env.id}} </th>
                    <td> {{env.name}} </td>
                    <td> {{env.description}} </td>
                    <td> {{env.database}} </td>
                    <td>
                        <div>
                            <button class="btn btn-success" (click)="deleteEnv(env.id)" style="float: left;"> Delete</button>
                            <button class="btn btn-success" (click)="editEnv(env.id)" style="float: left; margin-left: 5px;"> Edit</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <button class="btn btn-danger" style="width:150px" (click)="addEnv()"> Add Environment</button>
        </div>
    </div>