<div class="card">
    <div class="card-header">
        <h4>Environment</h4>
    </div>
    <div class="card-body">
        <table class="table table-bordered" *ngIf="yamlConfig && yamlConfig.environment">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Database</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entry of yamlConfig.environment | keyvalue">
                    <th> {{entry.key}} </th>
                    <td> {{entry.value.name}} </td>
                    <td> {{entry.value.description}} </td>
                    <td> {{entry.value['database']}} </td>
                    <td>
                        <div>
                            <button class="btn btn-success" (click)="deleteEnv(entry.key)" style="float: left;"> Delete</button>
                            <button class="btn btn-success" (click)="editEnv(entry.key)" style="float: left; margin-left: 5px;"> Edit</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <button class="btn btn-danger" style="width:150px" (click)="addEnv()"> Add Environment</button>
        </div>
    </div>